body {
  display: flex;
  background-color: rgb(5, 100, 160);
  height: 100vh;
  align-items: center; /* works in the Y axis*/
  justify-content: center; /*works in te X axis */
}

h1 {
  font-size: 100px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#clock {
  text-align: center;
}

.btn {
  font-family:monospace;
    font-size: larger;
  padding: 10px 20px;

}

#start-btn{
    background-color: greenyellow;
}
#reset-btn{
    background-color: pink;
}


